<!DOCTYPE html>
<html>
  <head>
    <title>MariageCJ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Pacifico&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">    <link href="//db.onlinewebfonts.com/c/39fc8df1369bc314ee2ba31126b8fee7?family=Stringfellows" rel="stylesheet" type="text/css"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script>
      const myBtns = document.querySelectorAll(".myBtn");
      const modal = document.getElementById("myModal");
      const span = document.getElementsByClassName("close")[0];

      myBtns.forEach((myBtn) => {
        myBtn.onclick = function() {
        modal.style.display = "block";
        }
      })
      span.onclick = function() {
        modal.style.display = "none";
      }
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }

      const valueSubmit = document.querySelector('value_submited');

      valueSubmit.innerHTML.replace('-', '20');

      // const popModal = (e) => {
      //   e.preventDefault();
      //   modal.style.display = "block";
      // }

      // const outModal = (e) => {
      //   e.preventDefault();
      //   modal.style.display = "none";
      //   if (event.target == modal) {
      //     modal.style.display = "none";
      //   }
      // }

      // const initModal = () => {
      //   if (link) {
      //     link.addEventListener('click', popModal);
      //   }
      //   if (span) {
      //     modal.addEventListener('click', outModal);
      //   }
      // }
      // $('#prevent-reloading').submit(function (e) {
      //   e.preventDefault();
      // });
      // $('#prevent-reloading').click(function (e) {
      //   e.preventDefault();
      // });

    </script>
  </body>
</html>
